<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{chat.name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="messages">
        <div *ngFor="let message of messageList| async">
            <div class="messagesbox other" *ngIf="user.uid != message.senderID">
                <div class="message">
                    {{message.message}}
                    <span class="date">{{message.createDt| amTimeAgo}}</span>
                </div>
            </div>
            <div class="messagesbox me" *ngIf="user.uid == message.senderID">
                <div class="message">
                    {{message.message}}
                    <span class="date">{{message.createDt| amTimeAgo}}</span>
                </div>
            </div>
        </div>

    </div>
</ion-content>
<ion-footer>
    <ion-toolbar class="messages-page-footer" position="bottom" color="secondary">
        <ion-input type="text" placeholder="Type a message" class="message-editor" [(ngModel)]='newMessage'></ion-input>
        <ion-buttons end>
            <button ion-button class="message-editor-button" (click)="sendMessage()">
                Send
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>