page-group-create-detail {
    ion-option, ion-input, ion-textarea, .select-text {
        color: white;
    }

    .divider {
        background-color: color($colors, secondary) !important;
        color: color($colors, primary) !important;
    }

    // ion-item-divider {
    //     color: color($colors, primary);
    // }
}
